:root {
    --main-bg-color: #f2e9e4 ;
    --main-txt-color: #22223b;
    --panel-bg-color: #4a4e69;
    --panel-txt-color: #c9ada7;
  }

body{
    font-family: 'Chivo Mono', monospace;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    width: 100vw;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    justify-content: center;
    margin: 10px 0 30px 0;
}

img{
    width: 15%;
    margin: 15px 0;
    padding: 3px;
    border: 2px solid var(--main-txt-color);
    box-shadow: 5px 5px 10px var(--main-txt-color);
    border-radius: 5px;
}

.intro{
    text-align: center;
    font-weight: 200;
    width: 50%;
}

main{
    display: flex;
    justify-content: center;
}

.main_panel{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}

.left{
    background-color: var(--panel-txt-color);
    color: var(--panel-bg-color);
}

.left div,
.right div{
    width: 40vw;
    align-self: center;
}

.title_left{
    background-color: var(--panel-bg-color);
    padding: 10px;
    color: var(--panel-txt-color);
}

li {
    margin-left: 10px;
}

.list_skill li,
.list_left li span{
    font-weight: bold;
}

.right{
    background-color: var(--panel-bg-color);
    color: var(--panel-txt-color);
}

.title_right{
    background-color: var(--panel-txt-color);
    padding: 10px;
    color: var(--panel-bg-color);
}

hr{
    border: 0;
    border-top: 1px solid var(--panel-txt-color);
}

footer{
    background-color: var(--main-txt-color);
    color: var(--main-bg-color);
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h2{
    margin: 20px 0;
}

.form_list{
    display: flex;
    flex-direction: column;
}

.form_list li label{
    width: 180px;
    display: inline-block;
    vertical-align: center;
}

.form_list li{
    margin: 10px 0;
    text-align: left;
}

input[type="text"], 
input[type="email"], 
textarea {
    background : var(--main-txt-color);
    color: var(--main-bg-color);
}

input[type="submit"] li{
    margin-top: 10px;
    align-self: center;
}

input[type="submit"] {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    padding: 8px 30px;
    font-size: 15px;
    font-weight: bold;
}

input[type="submit"]:hover{
    background-color: var(--main-txt-color);
    border: 1px solid var(--main-bg-color);
    color: var(--main-bg-color);
    transition: ease .5s;
}

