html {
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

nav{
    background-color: #F1F0EC;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    align-items: center;
    padding: 0 2rem;
}

.navbrand img{
    width: 10rem;
}

.navbrand a{
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
}

nav ul li a{
    color: black;
    margin: 0 2rem;
    text-transform: uppercase;
}

nav ul li a:hover{
    color: #FF4900;
    font-weight: 400;
    transition: ease .8s;
}

.hero{
    background-color: #FF4900;
    padding: 0 20rem;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__lider{
    color: white;
    font-weight: 700;
}

.hero h1{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 5rem;
    text-align: center;
    padding: 8rem 0 2rem 0;
}

.hero p{
    color:#F1F0EC;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    padding: 0 5rem;
}

.hero__arrow{
    padding-top: 10rem;
    font-size: 3rem;
    animation: bounce 2s infinite;
}

#hero-black{
    background-color: black;
    color: #F1F0EC;
    display: flex;
    flex-direction: column;
    height: 60vh;
}

#hero-black h1{
    background-color: black;
}

#hero-black a{
    color: #FF4900;
    border: 1px solid #FF4900;
    padding: .3rem 1.2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 5rem;
}

#hero-black a:hover{
    color: #F1F0EC;
    border: 1px solid #F1F0EC;
    transition: ease .8s;
}

.hero.hero-light{
    background-color: #F1F0EC;
}

.hero.hero-light p{
    color: black;
}

main{
    background-color: black;
    color:#F1F0EC;
    padding: 5rem 18rem;
}

.main__title{
    display: flex;
    margin-bottom: 5rem;
}

.main__title h3{
    font-weight: 500;
    font-size: 2.5rem;
    margin: 0 2rem 0 0;
}

.main__title p{
    font-weight: 400;
    font-size: 1.2rem;
    color: #8A887C;
    align-self: flex-end;
}

.main-light{
    background-color: #F1F0EC;
    color: black;
    margin-top: 1px solid #8A887C;
}

.main__title div h5{
    font-weight: 700;
    color: #8A887C;
    margin: 1rem 0;
}

.main__title.about{
    margin: 8rem 0;
}

.main__title.about h3{
    margin-bottom: 2rem;
}

.courses__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.traction{
    margin-top: 2rem;
}

.traction__item{
    background-color: rgb(255, 72, 0);
    width: 20rem;
    padding: 1rem 2rem;
    margin: 1rem;
}

.traction__item p{
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

.traction__item small{
    color: black;
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
}

.about__item{
    width: 30%;
}

.about__item img{
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
    object-fit: cover;
}

.about__item h4,
.about__item h5{
    margin: 1rem 0;
}

.about__item h5{
    padding-bottom: .5rem;
    border-bottom: 1px solid #8A887C;
}

.about__item p{
    font-weight: 200;
    font-size: .9rem;
    color: black;
    letter-spacing: .5px;
    margin-bottom: 1rem;
}

.values__item{
    margin: 2rem 0;
}

.values__icon{
    background-color: black;
    padding: 1rem;
    border-radius: .6rem;
    color: white;
    box-shadow: rgb(255, 72, 0, 0.5) 0px 4px 16px, rgb(255, 72, 0, 0.5) 0px 8px 24px, rgb(255, 72, 0, 0.1) 0px 16px 56px;
    margin-bottom: 1rem;
}

.values__item p{
    font-weight: 200;
    margin: 1rem 0;
    color: black;
    font-size: 1rem;
    width: 20%;
}

.icon__company{
    margin: 1rem;
}

.box{
    width: 20rem;
    height: 10rem;
    padding: 1rem;
    border: 0.1px solid #8A887C;
    margin: 2rem;
    vertical-align: middle;
    position: relative;
}

.box h4{
    font-weight: 200;
    width: 90%;
    font-size: 1.5rem;
}

.box__link{
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
}

.link,
.link .icon{
    color: #8A887C;
    display: inline-block;
    vertical-align: middle;
}

.link .icon:hover,
.link:hover{
    color: #FF4900;
    font-weight: 700;
    transition: ease .8s;
}

.updates{
    background-color: #F1F0EC;
    color:black;
    padding: 5rem 18rem;
}

.updates__container{
    display: flex;
    justify-content: center;
}

.updates__item{
    width: 20rem;
    height: 18rem;
    padding: 0 .5rem;
    border-right: 1px solid #8A887C;
    margin-bottom: 2rem;
    position: relative;
}

.updates__item img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.updates__item h5{
    font-size: 1.1rem;
    font-weight: 400;
    padding: .5rem 0;
}

.updates__button{
    border: 1px solid black;
    padding: .3rem .8rem;
    font-size: .8rem;
    line-height: 1rem;
    color: black;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
}

.updates__button:hover{
    border: 1px solid #FF4900;
    color: #FF4900;
    transition: ease .8s;
}

.courses__main{
    background-color: black;
    color:#F1F0EC;
    padding: 5rem 18rem;
    border-bottom: 1px solid #8A887C;;
}

.box__course{
    margin: 1rem 0 5rem 0;
    display: flex;
}

.box__course-right{
    flex-direction: row;
}

.box__course-left{
    flex-direction: row-reverse;
}

.box__course_item{
    margin: 0 1rem 0 1rem;
}

.box__course_item h4{
    color: #FF4900;
    font-size: 1.6rem;
    letter-spacing: .3px;
    margin: 1rem 0;
}

.box__course_item p{
    color: #8A887C;
    font-size: 1rem;
    letter-spacing: .5px;
    font-weight: 200;
    margin: 1rem 0;
}

.box__course_img img{
    width: 30rem;
}

footer{
    background-color: black;
    color:#F1F0EC;
    padding: 5rem 18rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.footer__contact{
    display: flex;
    justify-content: space-between;
}

footer div h3{
    font-weight: 500;
    font-size: 2.5rem;
    width: 70%;
    padding: 0 0 0.5rem 0;
}

form{
    font-weight: 200;
}

.form__item{
    display: flex;
    flex-direction: column;
}

form label,
form input{
    padding: .2rem;
    margin: .3rem;
    background-color: black;
}

form input{
    border: .5px solid #a0a09f;
    color: #F1F0EC;
}

form button{
    border: 1px solid #F1F0EC;
    padding: .3rem .8rem;
    font-size: .6rem;
    color: black;
    margin: 1rem 0;
    text-transform: uppercase;
    font-weight: 700;
}

.social__icon{
    color: #F1F0EC;
    margin: 1rem;
}

.social__icon:hover{
    color: #FF4900;
    transition: ease-in .3s;
}

.footer__logo{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15rem;
}

.footer__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.footer__info ul{
    display: flex;
}

.footer__info ul  li a{
    margin: 2rem;
    color: white;
}

.footer__info small{
    position: absolute;
    bottom: 1rem;
    color: #FF4900;
}

.contact{
    background-color: #F1F0EC;
    padding: 0 25rem;
    height: 60vh;
    display: flex;
    align-items: center;
}

.contact h1{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 5rem;
    text-align: left;
    /* padding: 5rem 0 0rem 0; */
    align-self: flex-start;
}

.contact p{
    font-weight: 200;
    font-size: 1rem;
    text-align: left;
    width: 60%;
}

.contact form{
    margin: 2rem;
}

.contact__form-item{
    display: flex;
    margin-bottom: 1rem;
}

.contact form label{
    background-color:  #F1F0EC;
    font-weight: 700;
    letter-spacing: 3px;
    width: 8rem;
    display: block;
}

.contact form input{
    background-color:  #F1F0EC;
    font-weight: 200;
    color: black;
    font-size: .7rem;
}

.contact form button{
    background-color:  #F1F0EC;
    font-weight: 700;
    color: black;
    font-size: 1rem;
    border: 1px solid black;
    padding: .5rem 3rem;
    width: 100%;
}
