body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
}

#label_write{
    margin: 1rem 0;
    color: purple;
    font-weight: bold;
    text-transform: uppercase;
}

#counter_amount{
    margin: 1rem 0;
}