<div class="container">
 <div class="row">
  <div class="col">
   <p class="text-right">
    Hola, {{usuario}}!
   </p>
   <a href="/admin/login/logout" class="btn btn-danger" >Cerrar sesion <i class="fas fa-sign-out-all"></i></a>
  </div>
 </div>
</div>